.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:white;
}

/* left side */
.header-left{
display:flex;
align-items:center;
gap:12px;
}

/* avatar */
.avatar{
width:55px;
height:55px;
border-radius:50%;
border:3px solid var(--primary-color);
}

/* text */
.welcome{
margin:0;
font-size:13px;
color:#777;
}

.name{
margin:0;
font-size:22px;
font-weight:700;
}

/* balance card */
.balance-box{
background:#fff;
padding:10px 18px;
border-radius:14px;
border:1px solid var(--primary-color);
text-align:center;
min-width:110px;
}

.balance-title{
font-size:11px;
letter-spacing:2px;
color:var(--primary-color);
display:block;
}

.balance-amount{
font-size:20px;
font-weight:700;
color:var(--primary-color);
}

/* mobile adjustments */
@media (max-width:600px){

.avatar{
width:45px;
height:45px;
}

.name{
font-size:18px;
}

.balance-amount{
font-size:18px;
}

.balance-box{
padding:8px 14px;
}

}
.location{
display:inline-flex;
align-items:center;
gap:6px;

margin-top:6px;

background:var(--primary-color);
color:white;

padding:4px 10px;
border-radius:20px;

font-size:12px;
font-weight:600;

box-shadow:0 4px 10px rgba(116,30,236,0.25);
}

.location-icon{
font-size:12px;
color:white;
}