.recharge-card{
background:#fff;
padding:16px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.05);
max-width:100%; 
margin:20px auto;
}

/* title */

.table-title{
font-size:16px;
font-weight:600;
margin-bottom:12px;
color:#741eec;
}

/* table */

.recharge-table{
width:100%;
border-collapse:collapse;
font-size:14px;
}

.recharge-table th{
text-align:left;
padding:10px;
color:#741eec;
border-bottom:1px solid #eee;
font-weight:500;
}

.recharge-table td{
padding:10px;
border-bottom:1px solid #f2f2f2;
color:#741eec
}

/* bonus highlight */

.bonus{
color:#741eec;
font-weight:600;
}

/* mobile */

@media (max-width:600px){



.recharge-table th,
.recharge-table td{
padding:8px;
font-size:13px;
}

}