.bottom-nav{
position:fixed;
bottom:0;
left:0;
width:100%;
background:#741eec;
display:flex;
justify-content:space-around;
align-items:center;
height:70px;
box-shadow:0 -3px 12px rgba(0,0,0,0.15);
z-index:100;
}

/* NAV ITEM */

.nav-item{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
font-size:13px;
color:#fff;
cursor:pointer;
padding:8px 14px;
border-radius:14px;
transition:all 0.25s ease;
}

.nav-item svg{
font-size:22px;
margin-bottom:4px;
transition:all 0.25s ease;
}

/* ACTIVE TAB */

.nav-item.active{
background:#fff;
color:#741eec;
box-shadow:0 4px 12px rgba(0,0,0,0.2);
transform:translateY(-3px);
}

.nav-item.active svg{
color:#741eec;
}
.bottom-nav-spacer{
height:70px;
width:100%;
}